.secondbar {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 99;

}

.b1 {
    width: 10%;
    margin-left: 135px;
    padding: 20px;
}

.b2 {
    position: absolute;
    left: 30%;
    top: 0%;
    padding: 30px;
}

.b2 ul li {
    display: inline-block;
    font-size: 18px;
    margin-left: 40px;
}

.b3 {
    position: absolute;
    width: 20%;
    left: 80%;
    top: 20%;
}

.b3 span {
    margin-left: 10px;
}

.reactLink {
    text-decoration: none !important;
}